*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: beige;
    font-family: Arial, sans-serif;
}
header{
    background-color: rgb(25, 9, 170);
    display: flex;
    gap: 300px;
    align-items: center;
    color: white;

}

.vitor{
    text-align: right;
    display: flex;
}

nav{
    background-color: white;
    text-align: justify;
    gap: 100px;
}